@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --main-header: #122621;
  --primary: #1D3B34;
  --secondary: #4F7C70;
  --accent: #FA5A28;
  --support: #F6F2EC;
  --optional-hero-blue: #004E7C;
  --des: #676767;
  --red: #FF3B30; /* adjusted standard red */
}